.booking-form {
  /* max-width: 90%; */
  width: 60%;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 480px) {
  .booking-form {
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
}

.booking-form h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.form-group input:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-select {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.dropdown-select:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-item {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #555;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu-item:hover {
  background-color: #f4f4f4;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0069d9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
