.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(3, 3, 3);
  color: #fff;
  text-align: center;
  padding: 0.6rem;
  z-index: 10;
}
